body
{
width: 90%;
margin: 3% auto 0% auto; 
background-color: #e3e3e3;
font-size: 2em;
background: url('../images/backgroun-2.jpg') repeat;
font-family: "comic sans ms";
}

select {
    background-color:  #CD7054;
}

td {
        width: 100px;
}

tr{
    line-height: 30px;
}

.navbar-inverse {
    background-color: #CD853F;
}

.navbar-inverse .navbar-nav > li > a {
    color: black;
    font-family: "comic sans ms";
}

/* Scrolling button */
.scrollup{
width:40px;
height:40px;
opacity:0.3;
position:fixed;
bottom:10%;
right:1%;
display:none;
text-indent:-9999px;
background: url('../images/icon_top.png') no-repeat;
}

#message {
 resize: none;
}

.navbar-left {
	padding-left: 5%;
	font-size: x-large;
	font-family: 'Roboto', sans-serif;
}

#weather-block{
    border: 5px solid blue;
}

#city .city{
    float: left;
    border: 3px solid blue;
    font-size: large;
    text-align: center;
    vertical-align: center;
}

#city, #temperature, #wind, #clouds{
    width: 50%;
    border: 1px solid blue;	
    float: left;
    clear: left;
}

.carousel .item {
    width:70%;
    height:auto;
}

.carousel-inner > .item > img {
    width:70%;
    height:auto;
    margin-left: 35%;
}

.my_avatar{
    width: 100%;
    border-radius: 20%;
    box-shadow: 11px 11px 24px -5px #435471;
    display: inline-block;
    width: 90%;
    vertical-align: middle;
    border: 1px solid black;
}

.my_contact{
    padding-left: 30px; 
}

.border_top_and_bottom{
    border-bottom: 1px solid #8B8989;
    border-top: 1px solid #8B8989;
    margin: 10px;
    padding-top: 40px;
    padding-bottom: 10px;
    font-family: cursive;
}

.icon_skills{
    width: 200px;
    height: 230px;
}

.icon_education{
    width: 250px;
    height: 150px;
    /*align-items: center;*/
    display: block;
    margin: 0 auto;
}

.my_text_height{
    font-size: 1.2em;
}

.div_space{
    height: 50px;
}

.p_fonts{
    font-family: "comic sans ms";
}

.p_fonts h3{
    text-align: center;
}

.social_network ul{
    margin: 0; 
    padding: 4px; 
    margin-top: 10px;
}

ul.social_network li {
    display: inline; 
    margin-right: 5px; 
    padding: 30px 30px 30px 30px; 
    font-size: 2em;
}

.title_header{
    font-size: 2em;
    text-align: center;
}

.panel-primary > .panel-heading {
    background-color : #CD853F;
}

.badge{
    font-size: 16px;
}

footer{
    background-color: #CD853F;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
}

aside{
    margin-top: 60px;
}

.skills img{
    display: block;
    margin: 0 auto;
}

.skills h2{
    text-align: center;
}